@import '2-basics/font';
@import '2-basics/setup';
@import '2-basics/wrapper';
@import '3-layouts/header';
@import '3-layouts/main';
@import '3-layouts/footer';
@import '4-modules/nav';
@import '4-modules/hero';
@import '4-modules/circle-animation';
@import '4-modules/projects';
@import '4-modules/contact';