body {
  font-family: 'Satoshi', sans-serif;
}

html {
  color: #333333;
}

body {
  overflow-x: hidden;
}

body,
ul,
h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  height: 100vh;
  background: #e7e8eb46;
}

main {
  padding: 2em 0;
}

.section-heading {
  font-size: 3.9rem;
  font-weight: 500;
  margin-top: 2.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-heading :nth-of-type(2) {
  margin-top: -13px;
  margin-left: 60px;
}

footer {
  height: 60vh;
}

nav {
  position: relative;
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav-list-item {
  width: 100px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0.5em;
  position: relative;
}

nav .nav-list-item--contact div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.5em;
}

nav .nav-list-item--contact div img {
  margin-left: 6px;
  width: 10px;
  margin-bottom: 3px;
}

nav .nav-list-item--contact ul {
  -webkit-box-shadow: 1px 1px 5px 1px #c6c9d1b7;
          box-shadow: 1px 1px 5px 1px #c6c9d1b7;
  position: absolute;
  width: 200%;
  left: -50px;
}

nav .nav-list-item--contact ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
  margin-left: 1.2em;
  margin-right: 1.8em;
}

nav .nav-list-item--contact ul li img {
  margin-right: 1em;
  width: 32px;
  height: 30px;
}

nav .nav-list-item:nth-child(1) {
  position: absolute;
  left: 0;
  margin: 0;
  text-align: left;
}

#connect-dropdown:hover + #connect-list {
  display: block;
}

.nav-list-item--contact:hover #connect-list {
  display: block;
}

.hero {
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.hero__name :nth-of-type(2) {
  margin-left: 0.2em;
}

.hero__title {
  margin-top: 0.5em;
  font-size: 2.2rem;
  font-weight: 400;
}

.circle {
  position: absolute;
  bottom: -10%;
  left: -10%;
  background: #4568DC;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#B06AB3), to(#4568DC));
  background: linear-gradient(to right, #B06AB3, #4568DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 590px;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-filter: blur(70px);
          filter: blur(70px);
  opacity: 0.7;
  -webkit-animation: move 30s ease-in-out infinite, grow 15s ease-in-out infinite;
          animation: move 30s ease-in-out infinite, grow 15s ease-in-out infinite;
  z-index: -1;
}

@-webkit-keyframes move {
  0% {
    bottom: -10%;
    left: -10%;
    width: 590px;
    height: 590px;
  }
  25% {
    bottom: -10%;
    left: 70%;
    width: 1037px;
    height: 590px;
  }
  50% {
    bottom: 60%;
    left: 70%;
    width: 1037px;
    height: 794px;
  }
  75% {
    bottom: 50%;
    left: -10%;
    width: 590px;
    height: 794px;
  }
  100% {
    bottom: -10%;
    left: -10%;
    width: 590px;
    height: 590px;
  }
}

@keyframes move {
  0% {
    bottom: -10%;
    left: -10%;
    width: 590px;
    height: 590px;
  }
  25% {
    bottom: -10%;
    left: 70%;
    width: 1037px;
    height: 590px;
  }
  50% {
    bottom: 60%;
    left: 70%;
    width: 1037px;
    height: 794px;
  }
  75% {
    bottom: 50%;
    left: -10%;
    width: 590px;
    height: 794px;
  }
  100% {
    bottom: -10%;
    left: -10%;
    width: 590px;
    height: 590px;
  }
}

@-webkit-keyframes grow {
  0% {
    width: 590px;
    height: 590px;
  }
  25% {
    width: 1037px;
    height: 620px;
  }
  50% {
    width: 590px;
    height: 590px;
  }
  75% {
    width: 620px;
    height: 1037px;
  }
  100% {
    width: 590px;
    height: 590px;
  }
}

@keyframes grow {
  0% {
    width: 590px;
    height: 590px;
  }
  25% {
    width: 1037px;
    height: 620px;
  }
  50% {
    width: 590px;
    height: 590px;
  }
  75% {
    width: 620px;
    height: 1037px;
  }
  100% {
    width: 590px;
    height: 590px;
  }
}

.projects {
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__project {
  margin-bottom: 8em;
}

.projects__project img {
  width: 100%;
}

.projects__project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
}

.projects__project__info__title {
  font-size: 2.2rem;
  font-weight: 500;
}

.projects__project__info__description {
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #505050;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7em;
  letter-spacing: 0.3px;
}

.projects__project__info__stack {
  font-size: 1rem;
}

.projects__project1 {
  width: 50%;
}

.projects__project1 .projects__project__info__description {
  width: 70%;
}

.projects__project2 {
  width: 40%;
}

.projects__project2 .projects__project__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__project2 img {
  width: 70%;
}

.projects__project2 .projects__project__info {
  width: 73%;
  margin: 3em auto;
}

.projects__project3 {
  width: 70%;
}

.section-contact {
  height: 100%;
  position: relative;
}

.section-contact__messages {
  font-size: 8rem;
  font-weight: 900;
  width: 4000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-animation: slide 17s linear infinite;
          animation: slide 17s linear infinite;
}

.section-contact__messages__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  bottom: 0;
  margin: 0 0.5em;
}

.section-contact__messages__message::after {
  content: '';
  margin-left: 150px;
  width: 45px;
  height: 45px;
  background: black;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3200px);
            transform: translateX(-3200px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3200px);
            transform: translateX(-3200px);
  }
}
/*# sourceMappingURL=main.css.map */