main {
    padding: 2em 0;
}

.section-heading {
    font-size: 4.2rem;
    font-weight: 500;
    margin-top: 2.6em;
    display: flex;
    flex-direction: column;

    & :nth-of-type(2) {
        margin-top: -13px;
        margin-left: 60px;
     }

}