main {
    // background: #f7f8fb;
    padding: 2em 0;
}

.section-heading {
    font-size: 3.9rem;
    margin-top: 2.6em;
    margin-bottom: 1.6em;
    font-weight: 400;
    display: flex;
    flex-direction: column;

    & :nth-of-type(2) {
        margin-top: -13px;
        margin-left: 60px;
     }

}