.circle {
    position: absolute;
    bottom: -10%;
    left: -10%;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 590px;
    height: 590px;
    display: flex;
    border-radius: 50%;
    filter: blur(70px);
    opacity: 0.7;
    animation: move 30s ease-in-out infinite, grow 15s ease-in-out infinite;
    z-index: -1;
}

@keyframes move {
    0% {
        bottom: -10%;
        left: -10%;
        width: 590px;
        height: 590px;
    }

    25% {
        bottom: -10%;
        left: 70%;
        width: 1037px;
        height: 590px;
    }

    50% {
        bottom: 60%;
        left: 70%;
        width: 1037px;
        height: 794px;
    }

    75% {
        bottom: 50%;
        left: -10%;
        width: 590px;
        height: 794px;
    }

    100% {
        bottom: -10%;
        left: -10%;
        width: 590px;
        height: 590px;
    }
}

@keyframes grow {
    0% {
        width: 590px;
        height: 590px;
    }

    25% {
        width: 1037px;
        height: 620px;
    }

    50% {
        width: 590px;
        height: 590px;
    }

    75% {
        width: 620px;
        height: 1037px;
    }

    100% {
        width: 590px;
        height: 590px;
    }
}