.hero {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
        display: flex;
        font-size: 7rem;
        font-weight: 500;
        letter-spacing: -1px;

        & :nth-of-type(2) {
            margin-left: 0.2em;
        }
    }

    &__title {
        margin-top: 0.5em;
        font-size: 2.2rem;
        font-weight: 400;
    }
}
