nav {
    position: relative;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-list {
        display: flex;
        justify-content: flex-end;
        
        &-item {
            width: 100px;
            text-align: center;
            font-weight: 500;
            font-size: 1rem;
            margin: 0 0.5em;
            position: relative;

            &--contact {
                div {
                    cursor: pointer;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    padding-bottom: 0.5em;

                    img {
                        margin-left: 6px;
                        width: 10px;
                        margin-bottom: 3px;
                    }
                }
                ul {
                    box-shadow: 1px 1px 5px 1px #c6c9d1b7;
                    position: absolute;
                    width: 200%;
                    left: -50px;
                    
                    li {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        margin: 1em 0;
                        margin-left: 1.2em;
                        margin-right: 1.8em;

                        img {
                            margin-right: 1em;
                            width: 32px;
                            height: 30px;
                        }
                    }
                }
            }
        }

        //home
        &-item:nth-child(1) {
            position: absolute;
            left: 0;
            margin: 0;
            text-align: left;
        }
    }
}

#connect-dropdown:hover + #connect-list {
    display: block;
}

.nav-list-item--contact:hover #connect-list {
    display: block;
}