.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__project {
        margin-bottom: 8em;
        
        img {
            width: 100%;
        }

        &__info {
            display: flex;
            flex-direction: column;
            margin-top: 1.5em;

            &__title {
                font-size: 2.2rem;
                font-weight: 500;
            }
            
            &__description {
                margin-top: 0.5em;
                margin-bottom: 1em;
                color: rgb(80, 80, 80);
                font-size: 1.1rem;
                font-weight: 300;
                line-height: 1.7em;
                letter-spacing: 0.3px;
            }

            &__stack {
                font-size: 1rem;
            }
        }
    }

    &__project1 {   
        width: 50%;

        .projects__project__info__description {
            width: 70%;
        }
    }

    &__project2 {
        width: 40%;

        .projects__project__img-container {
            display: flex;
            justify-content: center;
        }
        
        img {
            width: 70%;
        }
        
        .projects__project__info {
            width: 73%;
            margin: 1.5em auto;
        }
    }

    &__project3 {   
        width: 70%;
    }
}