body {
    overflow-x: hidden;
}

body,
ul,
h1,
h2 {
    margin: 0;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5a25ee;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}